


<div class="container">
<div class="row iconset">
  <div class="col-xs-6 col-md-4 icon-cell" {{action 'redirect' 'myissue'}}>   
      <span class="icon-bg">  
        <font color="#80BD66"> {{fa-icon "gears" class="large-icons"}} </font>
        </span> 
        <div class='icon-text'>My Issues</div>
      
  </div>
  <div class="col-xs-6 col-md-4 icon-cell" {{action 'redirect' 'leaves'}}>
      <span class="icon-bg">  
        <font color="#80BD66"> {{fa-icon "hotel" class="large-icons"}} </font>
        </span> 
      <div class='icon-text'>leaves</div>
  </div>
  <div class="col-xs-6 col-md-4 icon-cell" {{action 'redirect' 'ideabox'}}>
      <span class="icon-bg"> 
      <font color="#80BD66">{{fa-icon "lightbulb-o" class="large-icons"}}</font>
      </span>
      <div class='icon-text'>idea Box </div>
  </div>
</div>



<div class="row iconset">
  <div class="col-xs-6 col-md-4 icon-cell">{{fa-icon "gear" class="large-icons"}}
      <div class='icon-text'>Todo..</div>
  </div>
  <div class="col-xs-6 col-md-4 icon-cell">{{fa-icon "gear" class="large-icons"}}
      <div class='icon-text'>Todo..</div>
  </div>
  <div class="col-xs-6 col-md-4 icon-cell">{{fa-icon "gear" class="large-icons"}}
      <div class='icon-text'>Todo.. </div>
  </div>
</div>

</div>
